@import './index.css';


@mixin s{
  background-color: gold;
}

.home {
  background-color: pink;
}

.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item-center {
  display: flex;
  align-items: center;
}


.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.MT_container{
  padding: 1.2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;

  .MT_topItem{
    min-Height: 136px;
    min-width: 343px;
    padding: 1rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: green; 
}
}

